[Unit]
Description=Firewall bdwaf service
After=dpdk.service
Requires=dpdk.service

[Service]
Type=forking
User=root
Group=root
ExecStart=/usr/local/bdwaf/sbin/bdwaf -c /usr/local/bdwaf/conf/nginx.conf
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
