[Unit]
Description=Firewall bdwaf tproxy service

[Service]
Type=forking
User=root
Group=root
ExecStart=/usr/local/bdwaf/sbin/bdwaf.tproxy -c /usr/local/bdwaf/conf_tproxy/nginx.conf
ExecReload=/usr/local/bdwaf/sbin/bdwaf.tproxy -s reload -c /usr/local/bdwaf/conf_tproxy/nginx.conf
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
