[Unit]
Description=BDWAF Python Daemon
After=mysqld.service bdwafd-python-init.service
Requires=mysqld.service

[Service]
Type=forking
PIDFile=/var/run/bdwafd.pid
ExecStart=/usr/bin/python /usr/local/bluedon/bdwafd/bdwafd.py -s start
ExecStop=/usr/bin/python /usr/local/bluedon/bdwafd/bdwafd.py -s stop
Restart=always
Environment=PYTHONPATH=/usr/local/bluedon

[Install]
WantedBy=multi-user.target
