[Unit]
Description=MySQL Community Server
After=network.target
After=syslog.target

[Install]
WantedBy=multi-user.target
Alias=mysql.service

[Service]
Type=forking
User=mysql
Group=mysql

# Execute pre and post scripts as root
PermissionsStartOnly=true

# Needed to create system tables etc.
ExecStartPre=/usr/bin/mysql-systemd-start pre

# Start main service
ExecStart=/usr/bin/mysqld_multi start 1-2
ExecStop=/usr/bin/mysqld_multi stop 1-2

# Give up if ping don't get an answer
TimeoutSec=600

Restart=always
PrivateTmp=false
